<table class="table">
    <thead>
      <tr>
        <th scope="col">#</th>
        <th scope="col">name</th>
        <th scope="col">description</th>

      </tr>
    </thead>
    <tbody>
      <tr *ngFor = "let c of listecategory;let index=index">
        <th scope = "row">{{index+1}}</th>
        <td>{{c.name}}</td>
        <td>{{c.description}}</td>

       <button type="button" class="btn btn-info" [routerLink]="['/detailcategory',c._id]">detail</button>
       &nbsp;
       <button type="button" class="btn btn-info" [routerLink]="['/updatecategory',c._id]">update</button>
      </tr>
    </tbody>
  </table>

